@(serviceStatus:Seq[(String, Seq[models.consul.ServiceNode])])

<!DOCTYPE html>

<html>
    <head>
        <title>Service Status</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="container">
            @serviceStatus.map { case (serviceName, serviceNodes) =>
                <h1>@serviceName</h1>
                <ul>
                    @serviceNodes.map { serviceNode =>
                      <li>@serviceNode.Node => @{serviceNode.Address}:@{serviceNode.ServicePort}</li>
                    }
                </ul>
            }
        </div>
    </body>
</html>
